
<h2 class = "text-center p-4">Edit your profile.</h2>
<div class = "row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <div class= "container-sm login-page align-items-stret "> 
      <div class="text-center mt-4"></br></br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row justify-content-md-center" style="margin-bottom: 100px;">
            <div class="field form-outline col-8 "
                  id="pills-login"
                  role="tabpanel"
                  aria-labelledby="tab-login">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar, class: 'rounded-circle z-depth-2' %> 
                  <%else%>
                  <% end %><br /> <br />
                <%= f.text_field :first_name, hautofocus: true, autocomplete: "text", class:'form-label form-control', placeholder: 'First name'  %>
                <%= f.text_field :last_name, hautofocus: true, autocomplete: "text", class:'form-label form-control' , placeholder: 'Last name' %>
                <%= f.text_field :address, hautofocus: true, autocomplete: "text", class:'form-label form-control' , placeholder: 'Address' %>
                <%= f.text_field :licence_number, hautofocus: true, autocomplete: "int", class:'form-label form-control', placeholder: 'Licence number' %>
                <%= f.date_field :birthday, hautofocus: true, class:'form-label form-control' , placeholder: 'Birthday' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-label form-control', placeholder: 'Email' %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password" ,class:'form-label form-control', placeholder: 'Password' %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:'form-label form-control', placeholder: 'Password confirmation'%>
                <%= f.password_field :current_password, autocomplete: "current-password",class:'form-label form-control', placeholder: 'Current password' %>
                <%= f.file_field :avatar, class:'form-label form-control' %>
                <div class="text-start">
                  <%= link_to "Cancel", :back , class:'btn btn-danger  '%>
                  <%= f.submit "Update", class:'btn btn-primary ' %><br /> Unhappy:(?
                  <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:'text-danger' %>
                </div>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div></br></br></br></br></br></br></br></br></br></br></br>