<p class="text-center display-6">Log in</p>
<div class = "row justify-content-md-center ">
  <div class="col-2">
  </div>
  <div class="col-8">
    <div class= "container-sm sign-up ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="text-center mt-4"><br><br>

        <div class="row justify-content-md-center">
          <div class="field form-outline col-8"
                  id="pills-login"
                  role="tabpanel"
                  aria-labelledby="tab-login">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-label form-control', placeholder: 'Email'%>
            <%= f.password_field :password, autocomplete: "current-password" , class:'form-label form-control', placeholder: 'Password'%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %><br>
            <% if devise_mapping.rememberable? %>
            <% end %>
            <%= f.submit "Log in", class: 'btn btn-primary ' %><br>
            Don't have an account ?<%= render "devise/shared/links" %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
