<div class="container p-md-5 ">
  <div class="card mb-3 ">
    <div class="row g-0">

      <div class="col-6 ">
        <div class="card-body">
          <table class="table ">
            <tbody>
              <tr>
                <th scope="row">Vehicle Name</th>
                <td><%= @vehicle.name %></td>
              </tr>
              <tr>
                <th scope="row">User Name</th>
                <td><%= @user.first_name %></td>
              </tr>
              <tr>
                <th scope="row">Driver Type</th>
                <td><%= @user.user_type %></td>
              </tr>
              <tr>
                <th scope="row">Vechile Number</th>
                <td><%= @vehicle.vehicle_number %></td>
              </tr>
              <tr>
                <th scope="row">Color</th>
                <td> <%= @vehicle.color %></td>
              </tr>
              <tr>
                <th scope="row">Modle</th>
                <td> <%= @vehicle.modle %> </td>
              </tr>
            </tbody>
          </table>
          <%= link_to 'Back', vehicles_path , class: 'btn  btn btn-outline-dark '  %>
          <% if @vehicle.user_id == current_user.id %>
            <%= link_to 'Edit', edit_vehicle_path, class: 'fas btn btn-outline-info ' %>
            <%= link_to 'Delete', @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas btn btn-outline-danger '  %>
            <%= link_to 'Applications', vehicle_job_applications_path(vehicle_id: @vehicle.id), class:'btn btn-outline-primary'  %>
          <% else %>
            <% if @vehicle.first_driver.present? %>
              <span class="d-inline-block" tabindex="0" data-mdb-toggle="tooltip" title="This Session is Already Filled.">
                <button class="btn btn-outline-success" style="pointer-events: none;" type="button" disabled>
                  Apply as a First Driver
                </button>
              </span>
            <% else %>
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Apply as a First Driver</button>
            <% end %>

            <% if @vehicle.second_driver.present? %>
              <span
                class="d-inline-block" tabindex="0" data-mdb-toggle="tooltip" title="This Session is Already Filled.">
                <button class="btn btn-outline-success" style="pointer-events: none;" type="button" disabled>
                  Apply as a Second Driver
                </button>
              </span>
            <% else %>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Apply as a Second Driver </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col mt-3 me-1">
        <% if @vehicle.avatar.attached? %>
          <%= image_tag @vehicle.avatar, class:'card-img-top'%>
        <% end %>
      </div>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins" rel="stylesheet">
<section class="section-tours">
  <div class="row style-row">
    <% if @vehicle.first_driver.present? %>
      <div class="col-4">
        <div class="card card-style">
          <div class="card__side card__side--front">
          <div class="card__picture card__picture--1 card-img-top">  
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1 fs-5">The First       Driver </span>
              </h4>
            <div class="card-up text-center">
              <% if @vehicle.first_driver.avatar.attached? %>
                <%= image_tag @vehicle.first_driver.avatar, class:'rounded-circle image-style'%>
              <% end %>  
            </div>

            <div class="card__details">
                <ul>
                    <li class="text-center"><%= @vehicle.first_driver.first_name %><%= @vehicle.first_driver.last_name %></li>
                </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1 ">
            <div class="card__cta">
              <div class="card__price-box">
                <ul>
                  <p class="fs-5"><%= @vehicle.first_driver.first_name %><%= @vehicle.first_driver.last_name %></p>
                  <p class="fs-5"><%= @vehicle.first_driver.address %></p>
                  <p class="fs-5"><%= @vehicle.first_driver.licence_number %></p>
                  <p class="fs-5"><%= @vehicle.first_driver.birthday %></p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Apply  as a First Driver</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%if current_user.user_type == User::USER_TYPE_FIRST_DRIVER %>
                <%= form_with model: [ @vehicle, @vehicle.job_applications.build ] do |form| %>
                  <P>
                  <strong> Email: </strong>
                  <%= current_user.email%>
                  </p>
                  <p>
                  <strong>User Name:</strong>
                  <%= current_user.first_name+current_user.last_name %>
                  </p>
                  <%= form.label :content %>
                   <%= form.rich_text_area :content %>
                  <%= form.file_field :cv, class:'form-label form-control', placeholder: 'cv'%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <div class="actions">
                <%= form.submit  'Apply', class:'btn btn-primary'%>
              </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @vehicle.second_driver.present? %>
      <div class="col-4">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--2 card-img-top">  
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--2 fs-5">The Second Driver</span>
            </h4>
            <div class="card-up text-center">
              <% if @vehicle.second_driver.avatar.attached? %>
                <%= image_tag @vehicle.second_driver.avatar, class:'rounded-circle image-style'%>
              <% end %>  
            </div>
            <div class="card__details">
              <ul>
                <li class="text-center"><%= @vehicle.second_driver.first_name %><%= @vehicle.second_driver.last_name %></li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="card__cta">
              <div class="card__price-box">
                <ul>
                  <p class="fs-5"><%= @vehicle.second_driver.first_name %><%= @vehicle.second_driver.last_name %></p>
                  <p class="fs-5"><%= @vehicle.second_driver.address %></P>
                  <p class="fs-5"><%= @vehicle.second_driver.licence_number %></P>
                  <p class="fs-5"><%= @vehicle.second_driver.birthday %></P>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Apply  as Second Driver</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with model: [ @vehicle, @vehicle.job_applications.build ] do |form| %>
                <P>
                  <strong> Email: </strong> <%= current_user.email%>
                </p>
                <p>
                  <strong>User Name:</strong><%= current_user.first_name+current_user.last_name %>
                </p>
                <%= form.label :content %>
                <%= form.rich_text_area :content %>
                <%= form.file_field :cv, class:'form-label form-control', placeholder: 'Cv'%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <div class="actions">
                  <%= form.submit 'apply', class:'btn btn-primary'%>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section><br/><br/>
