<div class= "container-sm vehicle">
    <div class="text-center mt-4"><br><br>
      <%= form_with model: [ @plant, @plant.materials.build ] do |form| %>
        <div class="row justify-content-md-center">
          <div>
            <%= form.text_field :name , class:'form-label form-control', placeholder: 'Name'%>
            <%= form.number_field :cost, class:'form-label form-control', placeholder: 'Cost' %>
            <%= form.file_field :avatar,class:'form-label form-control' %>
            <div class="actions text-start">
              <%= link_to 'Back', @plant %>
              <%= form.submit class: 'btn  btn btn-outline-primary text-end' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
