<p id="notice"><%= notice %></p>
<div class="container p-md-5 ">  
  <div class="row">
    <div class="col-4 md-5">
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @material.name %></td>
          </tr>
          <tr>
            <th scope="row">Cost</th>
            <td><%= @material.cost %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to 'Edit', edit_plant_material_path(@material), class: 'fas btn btn-outline-info ' %>
    </div>
    <div class="col-8 text-center avatar">
        <p>
          <%if @material.avatar.attached? %>
          <%= image_tag @material.avatar.variant(resize_to_limit: [720, 287])%> 
          <% else %>
          <% end %>
        </p>
    </div>
  </div>
</div>