<nav class="navbar navbar-expand-lg">
  <div id="user-id" data-user-id="<%= current_user&.id %>"></div>
  <div class="container-fluid">
    <button class="navbar-toggler text-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon toggler"><i class="bi bi-border-width"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll justify-content-center" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
         <a href="/" class="nav-link">
            <i class=" active bi bi-house fw-bold"  > Home</i>
          </a>
        </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Vehicles', vehicles_path ,class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Plants', plants_path ,class: 'nav-link'  %>
            </li>

          <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path ,class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path ,class: 'nav-link' %>
          </li>
          <% end %>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <% if user_signed_in? %>

        <div   id="navbarScrollingDropdown"  data-bs-toggle="dropdown" aria-expanded="false">
          <%if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: 'rounded-circle shard_link nav-link dropdown-toggle d-flex align-items-center hidden-arrow btn  '  %>
        <% else %>
        <% end %>
        </div>
        <ul class="dropdown-menu dropdown-menu-end"ria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete ,class: 'dropdown-item'  %></li>
          <li><%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
          <li><%= link_to 'My Vehicles', my_vehicles_vehicles_path, class: 'dropdown-item' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
