<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Arsha Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Transporters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
  </head>

  <body class= bg-light>
    <p class="notice"><%= notice %>
    <p class="alert"><%= alert %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
